/* RESET */

input {
	border: none;
	outline: none;
}

input[type=text]:focus {
	border-bottom: 2px solid var(--link-color) !important;
}


div.container {
	min-width: 1290px;
	max-width: 1290px;
	margin: 0 auto;
}

div.contentor-de-emblema {
	margin-left: calc(85px + 14px * 3);
}

div.contentor-de-emblema {
	display: flex;
   	flex-direction: column;
	width: 250px;
}

div.contentor-de-emblema figure {	
	margin: 0;
}

div.contentor-de-emblema figure img {
	height:  28px;
	width:  28px;
	display: block;
	margin: auto;
}

div.contentor-de-emblema span, 
div.contentor-de-emblema h1 {
	text-align: center;
}

div.contentor-de-emblema h1 {
	margin: 15px 0 5px 0;
}

/* Ficha */

div.ficha {
	border: 2px solid var(--border-color);
}

div.ficha div.linha.de-localizacao {
	border-bottom: 1px solid var(--border-color);
	display: grid;
    	grid-template-columns: repeat(3, 260px);
    	justify-content: center;
	align-items: center;
}

div.linha.de-localizacao div.data {
	padding-bottom: 1px;
}

div.ficha div.linha.de-localizacao label {
	font-weight: 700;
}

div.ficha div.linha.de-localizacao input {
	border: none;
	border-bottom: 1px solid var(--border-color);
}

div.ficha div.linha.de-todos-indicadores {
	display: grid;
	grid-template-columns: 85px 1fr;
} 

div.linha.de-todos-indicadores div.coluna.de-distrito {
	border-bottom:1px solid var(--border-color);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
} 

div.linha-de-indicadores-x {
	display: grid; 
	grid-template-columns: calc(28px * 3) calc(45px * 6) calc(28px * 6 + 45px * 3) calc(28px * 6 + 45px * 2) calc(28px * 7) calc(45px * 2);
	grid-template-areas: "title1 title2 title3 . title4 title5"
}

div.linha-de-indicadores-x span:first-child {
	grid-area: title1;
}

div.linha-de-indicadores-x span:nth-child(2) {
	grid-area: title2;
}

div.linha-de-indicadores-x span:nth-child(3) {
	grid-area: title3;
	width: 304px;
	border-right: 1px solid var(--border-color);
}

div.linha-de-indicadores-x span:nth-child(4) {
	grid-area: title4;
}

div.linha-de-indicadores-x span:nth-child(5) {
	grid-area: title5;
}

div.linha-de-indicadores-x span {
	border-left: 1px solid var(--border-color);	
	font-weight: 700;
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	text-align: center;
	padding: 2px;
}

div.linha-de-indicadores-x {
	display: grid; 
	grid-template-columns: calc(28px * 3) calc(45px * 6) calc(28px * 6 + 45px * 3) calc(28px * 6 + 45px * 2) calc(28px * 7) calc(45px * 2);
	grid-template-areas: 
}


div.linha-de-enumeracao-das-colunas,
div.linha-de-indicadores-y {
	display: grid;
	grid-template-columns: calc( 28px * 3) repeat(6, 45px) calc( 28px * 3) 45px calc( 28px * 3) repeat(2, 45px) repeat(2, calc( 28px * 3)) repeat(2, 45px) repeat(2, calc( 28px * 2)) calc( 28px * 3) repeat(2, 45px);
}

div.linha-de-enumeracao-das-colunas {
	grid-template-rows: 14px;
}

div.linha-de-enumeracao-das-colunas span {
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 1px solid var(--border-color);
	border-top: 1px solid var(--border-color);
}

div.linha-de-indicadores-y > div {
	border: 1px solid var(--border-color);
	border-right: none;
	min-height: 250px;
    	position: relative;
}

div.linha-de-indicadores-y div span {
	display: inline-block;
	transform: rotate(-90deg);
	line-height: 1.2;
	letter-spacing: 1px;
    	min-width: 240px;
    	position: absolute;
	top: 106px;
	left: -100px;
 }

div.linha-de-indicadores-y div span.top-112 {
	top: 112px;
 }

div.linha-de-indicadores-y div span.left--95 {
	left: -95px;
 }

div.linha-de-indicadores-y span.left--78 {
	left: -78px;
 }

div.ficha header div.linha.de-faixas-etarias,
div.body div.body-row {
	display: grid;
    	grid-template-columns: 85px repeat(3, 28px) repeat(6, 45px) repeat(3, 28px) 45px repeat(3, 28px) repeat(2, 45px) repeat(6, 28px) repeat(2, 45px) repeat(7, 28px) repeat(2, 45px);
	grid-template-rows: 14px;
}

div.ficha header div.linha.de-faixas-etarias span {
	border-left: 1px solid var(--border-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

header div.linha.de-faixas-etarias span:first-child,
div.body-row input:first-child {
	border-left: none !important;
}

div.body div.body-row {
	grid-template-rows: 24px;
}

div.body-row input {
	border-left: 1px solid var(--border-color);
	border-top: 1px solid var(--border-color);
	text-align: center;
	font-size: 10px;
}

footer.da-ficha {
	padding-left: 2px;
	border: 2px solid var(--border-color);
	border-top: none;
}

